<p>rejestracja works!</p>
<html>
<head>
  <script>
    function chargebattery() {
      var a;
      a = document.getElementById("myDIV");
      a.innerHTML = "fal fa-smile;";
      setTimeout(function () {
        a.innerHTML = "fas fa-user;";
      }, 10);
      setTimeout(function () {
        a.innerHTML = "fal fa-smile;";
      }, 2000);
    }
    chargebattery();
    setInterval(chargebattery, 5000);
  </script>
</head>
<body >
<div class="container" style="width: 500px">
  <div class="d-flex justify-content-center h-100" >
    <div class="card">
      <div class="card-header">
        <h3 class="font" >Rejestracja </h3>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend" style="width: 400px;">
              <input class="form-control" type="text" placeholder="Imie" maxlength="10px" [(ngModel)]="user.imie" [formControl]="imie" name="something">
            </div>
            <div class="input-group-prepend" style="width: 400px;">
              <input class="form-control" type="text" placeholder="Nazwisko" [(ngModel)]="user.nazwisko"  name="something">
            </div>
            <div class="input-group-prepend" style="width: 400px;">
              <input class="form-control" type="text" placeholder="Email" [(ngModel)]="user.email"  name="something">
            </div>
            <div class="input-group-prepend" style="width: 400px;">
              <input class="form-control" type="password" placeholder="Hasło" [(ngModel)]="user.haslo"  name="something">
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value="Zarejestruj się" class="btn justify-content-center btn-primary d-flex pr-5 pl-5 login_btn w-50" (click)=" register()">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!--{{httpData}}-->
</body>
</html>
