

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="card highlight-card card-small">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Menu">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="samochody">Samochody<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logowanie">Logowanie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="rejestracja">Rejestracja</a>
          </li>
        </ul>
      </div>
    </nav>

    <!--<span>{{ httpData| json }} app is running!</span>-->

    <!--<table style="width:100%">
      <tr>
        <td>id</td>
        <td>name</td>
        <td>surname</td>
        <td>bithday</td>
      </tr>
      <tr *ngFor="let data of httpData">

          <td >{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.surname}}</td>
          <td>{{data.birthdata}}</td>
      </tr>
    </table>-->





  </div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
